.photofolio-container {
    position: relative;
    width: 100%;
    margin: 0; padding: 0;
}
.photofolio-container li { background: none; }
.photofolio-image-wrapper {
    width: 700px;
    height: 438px;
    position: relative;
    margin: 0 auto 25px auto;
    overflow: hidden;
    text-align: center;
}
.photofolio-image-wrapper-nav img {
    cursor: pointer;
}
.photofolio-image-wrapper-nav-left {
    margin: 0; padding: 0;
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
}
.photofolio-image-wrapper-nav-right {
    margin: 0; padding: 0;
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0;
}
.photofolio-image-wrapper-nav-right img {
    position: absolute;
    border: 0;
    top: 50%;
    right: 0;
}
.photofolio-image-wrapper-nav-left img {
    position: absolute;
    border: 0;
    top: 50%;
    left: 0;
}
.photofolio-thumbnails {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 790px;
}
.photofolio-thumbnails-list {
    float: left;
    /*left: 50%;*/
    list-style: none;
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 40px;
}
.photofolio-thumb {
    display: block;
    float: left;
    height: 80px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    position: relative;
    /*right: 50%;*/
    width: 80px;
    padding: 0;
}